process.container = 'nextflow/bash:latest'

singularity {
    autoBuild = false // <--- THIS IS THE KEY CHANGE
    cacheDir = '/sci/labs/matanh/shaked.amar/ecdfQnorm/task_batch_integration/tmp'
}

process {
  containerOptions = '--env NUMBA_CACHE_DIR=/tmp/numba_cache'

  withName: 'graph_connectivity_process' { 
    container = 'graph_connectivity_build_main.sif' 
    }
  withName: 'kbet_process' { 
    container = 'kbet_build_main.sif' 
    }
  withName: 'scanvi_process' { 
    container = 'scanvi_build_main.sif' 
    }
  withName: 'kbet_pg_label_process' {
    container = 'kbet_pg_label_build_main.sif'
    }
  withName: 'clustering_overlap_process' {
    container = 'clustering_overlap_build_main.sif'
    }
    withName: 'asw_batch_process' { 
    container = 'asw_batch_build_main.sif' 
    }
  withName: 'asw_label_process' {
    container = 'asw_label_build_main.sif'
    }
  withName: 'hvg_overlap_process' {
    container = 'hvg_overlap_build_main.sif'
    }
    withName: 'isolated_label_f1_process' { 
    container = 'isolated_label_f1_build_main.sif' 
    }
  withName: 'kbet_pg_process' {
    container = 'kbet_pg_build_main.sif'
    }
  withName: 'lisi_process' {
    container = 'lisi_build_main.sif'
    }
  withName: 'pcr_process' {
    container = 'pcr_build_main.sif'
    }
}


