name: run_benchmark
namespace: workflows

argument_groups:
  - name: Inputs
    arguments:
      - name: "--input_dataset"
        __merge__: /src/api/file_dataset.yaml
        type: file
        direction: input
        required: true
      - name: "--input_solution"
        __merge__: /src/api/file_solution.yaml
        type: file
        direction: input
        required: true
  - name: Outputs
    arguments:
      - name: "--output_scores"
        type: file
        required: true
        direction: output
        description: A yaml file containing the scores of each of the methods
        default: score_uns.yaml
      - name: "--output_method_configs"
        type: file
        required: true
        direction: output
        default: method_configs.yaml
      - name: "--output_metric_configs"
        type: file
        required: true
        direction: output
        default: metric_configs.yaml
      - name: "--output_dataset_info"
        type: file
        required: true
        direction: output
        default: dataset_uns.yaml
      - name: "--output_task_info"
        type: file
        required: true
        direction: output
        default: task_info.yaml
  - name: Clustering
    arguments:
      - name: "--resolutions"
        type: double
        multiple: true
        default: [0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8]
        description: Resolution parameter for clustering
  - name: Method filtering
    description: |
      Use these arguments to filter methods by name. By default, all methods are
      run. If `--methods_include` is defined, only those methods are run. If
      `--methods_exclude` is defined, all methods except those specified are run.
      These arguments are mutually exclusive, so only `--methods_include` OR
      `--methods_exclude` can set but not both.
    arguments:
      - name: "--methods_include"
        type: string
        multiple: true
        description: |
          A list of method ids to include. If specified, only these methods will be run.
      - name: "--methods_exclude"
        type: string
        multiple: true
        description: |
          A list of method ids to exclude. If specified, all methods except the ones listed will be run.

resources:
  - type: nextflow_script
    path: main.nf
    entrypoint: run_wf
  - type: file
    path: /_viash.yaml
  - path: /common/nextflow_helpers/helper.nf

dependencies:
  - name: utils/extract_uns_metadata
    repository: openproblems
  # control methods
  - name: control_methods/embed_cell_types
  - name: control_methods/embed_cell_types_jittered
  - name: control_methods/no_integration
  - name: control_methods/no_integration_batch
  - name: control_methods/shuffle_integration
  - name: control_methods/shuffle_integration_by_batch
  - name: control_methods/shuffle_integration_by_cell_type
  # methods
  - name: methods/batchelor_fastmnn
  - name: methods/batchelor_mnn_correct
  - name: methods/bbknn
  - name: methods/combat
  - name: methods/geneformer
  - name: methods/harmony
  - name: methods/harmonypy
  - name: methods/liger
  - name: methods/mnnpy
  - name: methods/pyliger
  - name: methods/scalex
  - name: methods/scanorama
  - name: methods/scanvi
  - name: methods/scgpt_finetuned
  - name: methods/scgpt_zeroshot
  - name: methods/scimilarity
  - name: methods/scprint
  - name: methods/scvi
  - name: methods/uce
  # metrics
  - name: metrics/asw_batch
  - name: metrics/asw_label
  - name: metrics/cell_cycle_conservation
  - name: metrics/clustering_overlap
  - name: metrics/graph_connectivity
  - name: metrics/hvg_overlap
  - name: metrics/isolated_label_asw
  - name: metrics/isolated_label_f1
  - name: metrics/kbet
  - name: metrics/lisi
  - name: metrics/pcr
  # data processors
  - name: data_processors/process_integration

runners:
  - type: nextflow
